<% skin myskin %>
<% view login uses content::Login extends master %>
<% template title() %><%= title %> :: Login<% end %>

<% template page_content() %>
    <h2>Login</h2>
    <form class="login" method="post" action="">
        <% form as_p login %>
    </form>
<% end template %>

<% end view %>
<% end skin %>