<% skin myskin %>
<% view upnext uses content::UpNext extends library %>
<% template title() %><%= title %> :: Up Next<% end %>

<% template library_content() %>
    <h2>Up Next</h2>
    <h3>Not Implemented Yet</h3>
    <p>Dynamic Up Next View</p>
<% end %>

<% end view %>
<% end skin %>