<% skin myskin %>
<% view account_management uses content::AccountManagement extends settings %>
<% template title() %><%= title %> :: Account Management Settings<% end %>

<% template settings_content() %>
OVERRIDE
<% end %>

<% end view %>
<% end skin %>