<% skin myskin %>
<% view collection uses content::Collection extends library %>
<% template title() %><%= title %> :: Collection<% end %>

<% template library_content() %>
    <p>Collection View</p>
<% end %>

<% end view %>
<% end skin %>