<% skin myskin %>
<% view forbidden uses content::Forbidden extends master %>
<% template title() %><%= title %> :: 403<% end %>

<% template page_content() %>
    <h2>403 Error: You do not have access to this page, please go to a diffrent page.</h2>
<% end template %>

<% end view %>
<% end skin %>