<% skin myskin %>
<% view library uses content::Library extends master %>
<% template title() %><%= title %> :: Library<% end %>

<% template library_content() %>
    <% foreach item in media %>
    <% item %>
        <% if item.isCollection %>
        <div class="media-item">
            <a href='<% url "collection" using item.id %>'><img class="hover-shadow" src='/covers/vagabond-v01.jpg' alt='<%= item.title %>' loading="lazy"></a>
            <div class="progress"><div class="progress-bar" style='width: <%= item.progress %>%;'></div></div>
            <h2><%= item.title %></h2>
            <p><%= item.volume %> Volumes</p>
        </div>
        <% else %>
        <div class="media-item">
            <img class="hover-shadow" src='/covers/vagabond-v01.jpg' alt='<%= item.title %>' loading="lazy" onclick='openModal();loadInit("<%= item.id %>")'>
            <div class="progress"><div class="progress-bar" style='width: <%= item.progress %>%;'></div></div>
            <h2><%= item.title %></h2>
            <% if not empty item.volume %><p>Volume <%= item.volume %></p><% end %>
        </div>
        <% end %>
    <% end %>
    <% end %>
<% end %>

<% template page_content() %>
    <nav class="library-nav">
        <a href="#view-select">View: All</a>
        <div style="flex-grow: 2;"></div>
        <a href='<% url "/upnext" %>'>Up Next</a>
        <a href='<% url "/library" %>'>Library</a>
        <div style="flex-grow: 2.5;"></div>
    </nav>
    <div id="library-content" class="library-content"><% include library_content() %></div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <i class="fas fa-times read-nav close" onclick="closeModal()"></i>
            <i class="fas fa-chevron-left read-nav prev" onclick="flipPage(-1)"></i>
            <i class="fas fa-chevron-right read-nav next" onclick="flipPage(1)"></i>
            <div id="pages" class="pages"></div>
        </div>
    </div>
    <script src="/resources/js/readControls.js"></script>
<% end template %>

<% end view %>
<% end skin %>