<% skin myskin %>
<% view media_management uses content::MediaManagement extends settings %>
<% template title() %><%= title %> :: Media Management Settings<% end %>

<% template settings_content() %>
OVERRIDE
<% end %>

<% end view %>
<% end skin %>