<% skin myskin %>
<% view meintenance uses content::Meintenance extends settings %>
<% template title() %><%= title %> :: Meintenance Settings<% end %>

<% template settings_content() %>
OVERRIDE
<% end %>

<% end view %>
<% end skin %>