<% skin myskin %>
<% view settings uses content::Settings extends master %>
<% template title() %><%= title %> :: Settings<% end %>

<% template settings_content() %>
OVERRIDE
<% end %>

<% template page_content() %>
    <nav class="settings-nav">
        <a href='<% url "user" %>'>User</a>
        <a href='<% url "account" %>'>Account</a>
        <a href='<% url "general" %>'>General</a>
        <a href='<% url "account_management" %>'>Account Management</a>
        <a href='<% url "media_management" %>'>Media Management</a>
        <a href='<% url "meintenance" %>'>Meintenance</a>
    </nav>
    <div class="settings-content">
        <% include settings_content() %>
    </div>
<% end template %>

<% end view %>
<% end skin %>