<% skin myskin %>
<% view user uses content::User extends settings %>
<% template title() %><%= title %> :: User Settings<% end %>

<% template settings_content() %>
    <h2>Options Group 1</h2>
    <h3>Option 1</h3>
    <p>Description for Option 1</p>
    <h3>Option 2</h3>
    <p>Description for Option 2</p>
<% end %>

<% end view %>
<% end skin %>