/* || PAGE WIDE */
* {
    color: white;
}
body {
    background-color: slategrey;
    font-size: 16px;
}

/* || TOPNAV */
.topnav {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100%;
    height: 2.25rem;
    position: sticky;
    top: 0;
}
.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    padding: .125rem .5rem;
}
.topnav a:hover {
    background-color: coral;
}
.topnav-dropdown {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    padding: .125rem .5rem;
}
.topnav-dropdown-content {
    display: none;
    position: absolute;
    z-index: 4;
    right: 0;
    background-color: darkslategrey;
}
.topnav-dropdown-content a {
    text-decoration: none;
    font-size: 1rem;
    padding: .125rem .5rem;
}
.topnav-dropdown:hover .topnav-dropdown-content {
    display: block;
}

/* || LIBRARY NAV */
.library-nav {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: grey;
}
.library-nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .125rem .5rem; 
}
.library-nav a:hover {
    background-color: coral;
}

/* || LIBRARY CONTENT */
.library-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    max-height: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1rem;
}

/* || INDIVIDUAL BOOKS */
.media-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 8rem;
    height: 16rem;
}
.media-item img {
    cursor: pointer;
    width: 100%;
    height: auto;
}
.media-item img.hover-shadow {
    transition: 0.3s;
}
.media-item img.hover-shadow:hover {
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.3), 0 .375rem 1.25rem 0 rgba(0,0,0,0.25);
}
.media-item .progress {
    background-color: lightgrey;
    width: 100%;
    height: 2.5%;
    border-radius: .175rem;
}
.media-item .progress-bar {
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: .175rem;
}
.media-item h2 {
    font-size: .875rem;
    font-weight: 100;
    text-align: center;
    max-height: 1.25em;
    overflow-y: hidden;
    margin: .15rem;
}
.media-item h2:hover {
    animation-delay: 5ms;
    max-height: min-content;
}
.media-item p {
    font-size: .8rem;
    text-align: center;
    margin: 0;
}
.collection-cover {
    width: 12rem;
    height: auto;
    /* Adjust size of cover */
}

/* || READING MODAL */
.modal {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 5;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
}

/* || READING NAVIGATION */
.read-nav {
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    margin-top: -1.5rem;
    color: rgba(245, 245, 245, 0.2);
    font-size: 5rem;
    font-weight: bold;
}
.close {
    top: .75rem;
    right: 2rem;
    border-radius: .25rem;
}
.next, .prev {
    top: 50%;
    width: auto;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    left: 0;
    border-radius: 0 .25rem .25rem 0;
}
.next {
    right: 0;
    border-radius: .25rem 0 0 .25rem;
}
.read-nav:hover {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.8);
}

/* PAGES */
.pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 1rem;
}
.pages img {
    display: none;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

/* || SETTINGS NAV */
.settings-nav {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: grey;
}
.settings-nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .125rem .5rem; 
}
.settings-nav a:hover {
    background-color: coral;
}

/* || SETTINGS CONTENT */
.settings-content h2 {
    font-size: 1.6rem;
}
.settings-content h3 {
    font-size: 1.25rem;
}
.settings-content p {
    font-size: 1rem;
}

/* || IMPORTS */

.import {
    display: block;
}
.import h2 {
    text-align: center;
    font-size: 2rem;
}
.import form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    padding: .35rem;
    background-color: rgba(160, 160, 160, 0.5);
    outline-width: 3px;
    outline-color: black;
}
.import input, .import select, .import button {
    display: inline;
    background-color: rgba(120, 120, 120, 0.65);
}
.api-modal {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    width: 700px;
    height: 95%;
    background-color: darkslategrey;
    overflow-y: scroll;
}
.potential-match {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: .75rem;
    padding: 1rem;
}
.potential-match img {
    width: 150px;
    height: auto;
}
.potential-match .title {
    text-align: left;
    font-size: 1.2rem;
}
.potential-match th, .potential-match td {
    text-align: left;
    font-size: 1rem;
}
.match th, .match td {
    text-align: left;
    font-size: 1.1rem;
}
.match th {
    width: 20%;
}
.match td {
    width: 30%;
    overflow: hidden;
}
.match .hrow {
    width: auto;
}
.match .grab-btn {
    width: auto;
}

/* || MOBILE DIVICES */
@media all and (max-width: 767px) {
    
}