<% skin myskin %>
<% view read uses content::Read extends master %>

<% template page_content() %>
    <div id="pages" class="pages"></div>
    <i class="fas fa-chevron-left read-nav prev" onclick="flipPage(-1)"></i>
    <i class="fas fa-chevron-right read-nav next" onclick="flipPage(1)"></i>
    <script src="/resources/js/readControls.js"></script>
    <script>
        let params = new URLSearchParams(window.location.search);
        if (params.has("id")) {
            loadInit(params.get("id"));
        } else {
            window.location.href = "/404";
        }
    </script>
<% end template %>

<% end view %>
<% end skin %>