<% skin myskin %>
<% view account uses content::Account extends settings %>
<% template title() %><%= title %> :: Account Settings<% end %>

<% template settings_content() %>
OVERRIDE
<% end %>

<% end view %>
<% end skin %>