<% skin myskin %>
<% view general uses content::General extends settings %>
<% template title() %><%= title %> :: General Settings<% end %>

<% template settings_content() %>
    <h2>General Admin Settings</h2>
    <p>
        Hide admin settings from general users. Check from server for which settings are viewable.<br>
        For each admin settings verify user privilages on server. <br>
        Throw a 403 Forbidden error 
    </p>
<% end %>

<% end view %>
<% end skin %>