<% skin myskin %>
<% view import uses content::Import extends master %>
<% template title() %><%= title %> :: Import<% end %>

<% template page_content() %>
    <h2>Imports</h2>
<% end template %>

<% end view %>
<% end skin %>