<% skin myskin %>
<% view collection uses content::Collection extends library %>
<% template title() %><%= title %> :: Collection<% end %>

<% template library_content() %>
    <img class="collection-cover" src='/covers/<%= cover %>' alt='<%= collectionTitle %>'> 
    <h2><%= collectionTitle %></h2>
    <% foreach item in books %>
    <% item %>
        <div class="media-item">
            <img class="hover-shadow" src='/covers/<%= item.id %>.png' alt='<%= item.title %>' loading="lazy" onclick='openModal();loadInit("<%= item.id %>")'>
            <div class="progress"><div class="progress-bar" style='width: <%= item.progress %>%;'></div></div>
            <h2><%= item.title %></h2>
            <p>Volume <%= item.volume %></p>
        </div>
    <% end %>
    <% end %>
<% end %>

<% end view %>
<% end skin %>