<% skin myskin %>
<% view help uses content::Help extends master %>
<% template title() %><%= title %> :: Help<% end %>

<% template page_content() %>
    <h2>Help</h2>
    <p>
        This is the help section.<br>
        There is currently no help right now.
    </p>
<% end template %>

<% end view %>
<% end skin %>