<% skin myskin %>
<% view login uses content::Login extends master %>
<% template title() %><%= title %> :: Login<% end %>

<% template page_content() %>
    <div class="login">
        <h2>Login</h2>
        <form class="login-form" method="POST" action="">
            <% form as_p login %>
        </form>
    </div>
<% end template %>

<% end view %>
<% end skin %>