<% skin myskin %>
<% view page_not_found uses content::PageNotFound extends master %>
<% template title() %><%= title %> :: 404<% end %>

<% template page_content() %>
    <h2>404 Error: PAGE NOT FOUND</h2>
<% end template %>

<% end view %>
<% end skin %>